.add-songs-session{
    margin-top: 10px;
  
    width: 150px;
    height:45px;
  
    border: 2px solid #1DB954;
    border-radius: 500px;
  
    font-size:20px;
    font-weight: 500;
    color:white;
    background-color: #1DB954;
    
    
    
    
}
