@media only screen and (max-width: 550px) {
	.navbar-title {
		display: none;
	}
}

.nav {
	/* text-align: center; */
	height: 75px;
	/* line-height: 100px; */
	background-color: rgba(25, 25, 25, 0.9);
	border-bottom: 1px solid #535353;
}

.navbar-title {
	font-weight: lighter;
	color: white;
	font-size: 40px;
	margin-left: 10px;
	margin-top: 3px;
}
.logout-button {
	position: absolute;
	right: 0;
	margin-right: 5%;
	margin-top: 8px;
}
span {
	color: #1db954;
	font-size: 30px;
	font-weight: 500;
}
