.person-box{
    border: 1px solid #535353;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.person-content{
    /**border: 1px solid yellow;**/
    width: 80%;
}

.person-name{
    font-size:18px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 5%;
}



.person-delete{
    /*border: 1px solid red;*/ 
    width:20%;    
    text-align: left;
    
}


.person-delete button{
    color: white;
    font-weight: 400;
    background-color: #ff5733;
    border: 2px solid #ff5733;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 0px;

    margin-left: 5%;
    margin-right: 10%;
}