.self-message{
    color: white; 
    font-size: 14px; 
    padding: 10px 25px 10px 25px; 
    text-align: left; 
    margin-bottom: 2px;  
    background-color: #1db954;
    border-radius: 10px;
    word-wrap: break-word
}