
.song-list-inner{
    margin-right: 10px;
}

.song-list{
   /* border: 1px solid green;*/
   margin-top: 10px;
    height:45vh;
    overflow: auto;
    
}
.song-list::-webkit-scrollbar{
    width:6px;
    background-color:transparent;
    
}

.song-list::-webkit-scrollbar-thumb{
    background-color:#b3b3b3;
}





