.chat {
	margin: 0px 50px 0px 50px; 
	height: 520px;
	width: 80%; 
}

.currently-playing{
	margin-top: 30px; 
	width: 100%; 
	height: 100px; 
	color:black;
	border-top-style: solid; 
	border-top-color: white;
}

.session-page {
	width: 100%;
	background-color: rgba(20, 25, 25);

	text-align: center;
	color: white;
}

.song-queue {
	/*border: 1px solid red;*/
	margin: -10px 50px 0px 50px;
	height: 520px;
}

.up-next-session {
	font-size: 22px;
	text-align: left;
}

.queue-user-text {
	margin-bottom: 15px;
}
