.session-page {
	width: 100%;
	background-color: rgba(20, 25, 25);

	text-align: center;
	color: white;
}

.song-queue {
	/*border: 1px solid red;*/
	margin: -10px 50px 0px 50px;
	height: 520px;
}

.up-next-session {
	font-size: 22px;
	text-align: left;
}

.queue-user-text {
	margin-bottom: 15px;
}
